@model TicketsTableViewModel
@inject OTRSService otrsService

<div id="toolbar" class="small">
    <h5>Закрыто заявок: @Model.TicketRows.Count()</h5>
</div>  
<table id="list" class="table table-hover table-sm table-bordered small w-auto"
        data-toggle="table"
        data-toolbar="#toolbar"
        data-group-by=@(Model.GroupByCompletedUser ? "true" : "false")
        data-group-by-field="group"
        data-sortable="true"
        data-sort-name="endDate"
        data-custom-sort="customSort"
        data-sort-order="desc"
        data-show-export="true"
        data-pagination="false"
        data-search="false">
    <thead>
        <tr>
            <th data-width='7%' data-sortable="true">Номер</th>
            <th data-field="createDate" data-width='10%' data-sortable="true">Дата</th>
            <th data-width='18%'>Заявка</th>
            <th data-width='10%' data-sortable="true">Заказчик</th>
            <th data-field="endDate" data-width='10%' data-sortable="true">Закрыта</th>
            @if (Model.GroupByCompletedUser)
            {
                <th data-field="group" data-visible="false" class="groupBy">Закрыта сотрудником</th>
            }
            <th data-width='15%'>Закрыта сотрудником</th>
            <th data-width='30%'>Отчёт</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TicketViewModel ticket in Model.TicketRows)
        {
            <tr>
                <td><a href="@otrsService.GetTicketUrl(ticket.Id)" target="_blank">@ticket.Id</a></td>
                <td>@ticket.CreatedDateTime</td>
                <td>@ticket.Title</td>
                <td>@ticket.CustomerUserId</td>
                <td>@ticket.ClosedDateTime</td>
                @if (Model.GroupByCompletedUser)
                {
                    <td>@ticket.ClosedByUserInfo</td>
                }
                <td>@ticket.ClosedByUser.DisplayString</td>
                <td>@ticket.Report</td>
            </tr>
        }
    </tbody>
</table>
<script>

    function ConvertToDate(s) {
        var b = s.split(/\D/);
        return new Date(b[2], b[1] - 1, b[0], b[3], b[4]);
    };

    function customSort(sortName, sortOrder, data) {
        var order = sortOrder === 'desc' ? -1 : 1
        data.sort(function (a, b) {
            var aa = a[sortName];
            var bb = b[sortName];
            if (sortName > '' && sortName.endsWith('Date')) {
                aa = ConvertToDate(aa);
                bb = ConvertToDate(bb);
            }
            if (aa < bb) {
                return order * -1
            }
            if (aa > bb) {
                return order
            }
            return 0
        })
    }

    $(document).ready(function () {

        var table = $('#list');
        table.bootstrapTable();

        function CountRows() {
            var table = $('#list');
            console.log($(table).find('.groupBy').length);
            $(table).find('.groupBy').each(function (index, value) {
                var groupRowCount = 0;
                groupRowCount = $(this).nextUntil(".groupBy").length;
                var td = $(this).children('td');
                $(td).html($(td).html() + " [" + groupRowCount + "]");
            });
        }
    });
</script>